<footer class="page-footer green accent-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Helpful links to discover more</h5>
                <p class="grey-text text-lighten-4">You can use these links to learn more about technologies used in this project.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <li><a class="grey-text text-lighten-3" href="https://www.playframework.com/">Play framework</a></li>
                <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Material Design Framework</a></li>
                <li><a class="grey-text text-lighten-3" href="https://backstage.forgerock.com/#!/downloads/enterprise/OpenAM">Download OpenAM</a></li>
                <li><a class="grey-text text-lighten-3" href="#">Github repository of this project</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/spend64">Facebook profile of the author</a></li>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © @Calendar.getInstance().get(Calendar.YEAR) Copyright Spend
            <a class="grey-text text-lighten-4 right" href="mailto:privettoli@@gmail.com">Contact with author</a>
        </div>
    </div>
</footer>